.page_index {
  .geo_bg {
    background: rgba(255, 255, 255, 0.8);
    opacity: 0;
    visibility: hidden;
    position: fixed;
    transition: opacity .3s, visibility .3s;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 10;

    &.act {
      opacity: 1;
      visibility: visible;
    }

    .geo_sl {
      background: #fff;
      padding: 12 * $base-rhythm-line $gutter;
      position: absolute;
      text-align: center;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%;

      .geo_logo {

        height: 8 * $base-rhythm-line;
        padding: $base-rhythm-line 0;

        svg {
          height: 20px;
          width: 150px;
        }
      }

      .geo_q {
        margin-bottom: $base-rhythm;
        margin-top: 4 * $base-rhythm-line;
      }

      .geo_msk {
        font-size: 1.5rem;
        line-height: 2.5rem;
        border: 1px solid rgba(0, 0, 0, 0.13);
        border-radius: 2px;
        padding: 7px 0;
        display: inline-block;
        text-align: center;
        width: 180px;

        &:hover {
          background-color: #212121;
          color: #fff;
          transition-property: background, color;
        }
      }

      .geo_or {
        font-size: 0.75rem;
        line-height: 1.5rem;
        margin: 4 * $base-rhythm-line 0;
      }

      @include mq($s) {
        width: 400px;
      }
    }

    @include mq($s) {
      background: rgba(255, 255, 255, 0.8);
    }
  }
  &_image {
    margin-bottom: $yr * 4.5;

    .img_prg {
      @include aspect-ratio(4, 5);

      &:before {
        @include lnbg(#0A120F, #E4D4C3, #B7967F, #635242);
      }

      @include mq($s) {
        @include aspect-ratio-modify(5, 4);
      }

      @include mq($m) {
        @include aspect-ratio-modify(2, 1);
      }
    }

    @include mq($s) {
      margin-bottom: $yr * 6;
    }

    @include mq($m) {
      margin-bottom: $yr * 12;
    }
  }

  &_intro {
    margin-bottom: $yr * 4.5;

    .intro {
      padding: 0 $xr;
      font-size: 1.125rem;
      line-height: 1.5rem;
      margin-bottom: $yr * 3;
    }

    .contacts {
      padding: 0 $xr;
      font-size: 0.8125rem;
      line-height: 1.5rem;
      margin-bottom: $yr * 3;
      text-align: center;

      p {
        margin-bottom: $yr * 1.5;
      }

      @include sign;
    }

    .social_media {
      padding: 0 $xr;
      text-align: center;
      line-height: $yr * 4;

      &_item {
        a {
          font-size: 0.8125rem;
          text-transform: uppercase;
        }
      }
    }

    @include mq($s) {
      padding: 0 $xr;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: $yr * 6;

      .intro {
        width: 6 / 8 * 100%;
        font-size: 20px;
        line-height: 28px;
      }

      .contacts {
        width: 2 / 8 * 100%;
        text-align: left;
      }

      .social_media {
        padding: 0;
        display: flex;
        width: 100%;
        text-align: left;

        &_item {
          padding: 0 $xr;
          width: 25%;


        }
      }
    }


    @include mq($m) {
      margin-bottom: $yr * 12;

      .intro {
        width: 6 / 12 * 100%;
        margin-left: 2 / 12 * 100%;

        font-size: 1.5rem;
        line-height: 2rem;
      }

      .contacts {
        width: 2 / 12 * 100%;
      }

      .social_media {
        width: 8 / 12 * 100%;
        margin-left: 2 / 12 * 100%;
      }
    }
  }

  &_swiper {
    margin-bottom: $yr * 4.5;

    .swiper {
      &-slide {
        padding: 0 $xr;

        width: 85%;

        .img_prg {
          @include aspect-ratio(5, 4);
        }

        &.ss1 {
          .img_prg::before {
            @include lnbg(#191C19, #D7C9CC, #514742, #988480);
          }
        }

        &.ss2 {
          .img_prg::before {
            @include lnbg(#E4B2B6, #A86A62, #1E1713, #5F3C30);
          }
        }

        &.ss3 {
          .img_prg::before {
            @include lnbg(#191C19, #D7C9CC, #514742, #988480);
          }
        }

        &.ss4 {
          .img_prg::before {
            @include lnbg(#141513, #D2D0D5, #B78D82, #664D45);
          }
        }
      }
    }

    @include mq($s) {
      padding: 0 $xr;
      margin-bottom: $yr * 6;

      .swiper {
        &-wrapper {
          flex-wrap: wrap;
        }

        &-slide {
          &.ss1 {
            width: 50%;
            margin-bottom: $yr * 3;
          }

          &.ss2 {
            align-self: flex-end;
            margin-bottom: $yr * 3;
            width: 4 / 12 * 100%;
          }

          &.ss3 {
            width: 4 / 12 * 100%;
            margin-left: 2 / 12 * 100%;
          }

          &.ss4 {
            width: 50%;
          }


        }
      }
    }

    @include mq($m) {
      margin-bottom: $yr * 12;
    }
  }

  &_space {
    // padding: 0 $xr;
    margin-bottom: $yr * 4.5;

    .text {
      padding: 0 $xr;
      margin-bottom: $yr * 3;

      h2 {
        margin-bottom: $yr * 3;
      }
    }

    .frees {
      color: #727272;
      font-size: 0.8125rem;
      margin-bottom: $yr * 6;
      padding: 0 $xr;

      ul {
        li {
          margin-bottom: $yr * 1.5;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    .masters_text {
      padding: 0 $xr;

      h3 {
        margin-bottom: $yr * 3;
      }
    }

    .masters_list {
      margin-top: $yr * 4;

      &_item {
        padding: 0 $xr;
        width: 85%;
        // padding-right: 10%;

        .img_prg {
          @include aspect-ratio(4, 6);

          background-color: #f1f1f1;
        }

        .quote {
          margin-top: $yr * 2;
          font-family: 'Playfair Display', serif;
          font-size: 1.5rem;
          line-height: 2rem;
        }

        .name {
          margin-top: $yr * 3;

          .services {
            color: #727272;
          }
        }

        &:last-child {
          margin-right: 15%;
        }
      }

      @include mq($s) {
        .swiper {
          &-wrapper {
            // flex-wrap: wrap;
          }
        }


        &_item {
          width: 1 / 3 * 100%;
          padding: 0 $xr;
          margin-right: 0 !important;

          .img_prg {
            margin-right: 1 / 4 * 100%;
          }
        }
      }
    }

    @include mq($s) {
      padding: 0 $xr;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: $yr * 6;

      .masters_text {
        padding: 0 $xr;
        width: 100%;
      }

      .text {
        padding: 0 $xr;
        width: 4 / 8 * 100%;
      }

      .frees {
        padding: $yr * 7 $xr 0;
        width: 4 / 8 * 100%;
      }
    }

    @include mq($m) {
      margin-bottom: $yr * 12;

      .text {
        width: 4 / 12 * 100%;
        margin-left: 2 / 12 * 100%;
      }

      .frees {
        width: 2 / 12 * 100%;
        padding: $yr * 9 $xr 0;
        margin-left: 2 / 12 * 100%;
      }

      .masters_text {
        width: 6 / 12 * 100%;
        margin-left: 2 / 12 * 100%;
      }
    }
    @include mq($l) {
      .masters_text {
        width: 4 / 12 * 100%;
      }
    }
  }

  &_nigga {
    margin-bottom: $yr * 4.5;

    .img_prg {
      @include aspect-ratio(5, 4);

      background-color: #f1f1f1;
    }

    @include mq($s) {
      margin-bottom: $yr * 6;
    }

    @include mq($m) {
      margin-bottom: $yr * 12;

      .img_prg {
        @include aspect-ratio(2, 1);
      }
    }
  }

  &_philosophy {
    padding: 0 $xr;
    margin-bottom: $yr * 4.5;

    .image {
      margin-bottom: $yr * 3;

      .img_prg {
        @include aspect-ratio(5, 4);

        background-color: #f1f1f1;
      }
    }

    .text {
      h2 {
        margin-bottom: $yr * 3;
      }
    }

    @include mq($s) {
      margin-bottom: $yr * 6;
      // padding: 0;
      display: flex;

      .image {
        padding: 0 $xr;
        width: 4 / 8 * 100%;

        .img_prg {
          @include aspect-ratio-modify(4, 5);
        }
      }

      .text {
        padding: 0 $xr;
        width: 4 / 8 * 100%;
      }
    }

    @include mq($m) {
      margin-bottom: $yr * 12;

      .text {
        width: 4 / 12 * 100%;
      }

      .image {
        width: 4 / 12 * 100%;
        margin-left: 2 / 12 * 100%;
      }
    }
  }

  &_video {
    padding: 0 $xr;
    margin-bottom: $yr * 4.5;

    .video {
      margin-bottom: $yr * 3;

      &_ar {
        @include aspect-ratio(16, 9);
      }
    }

    .desc {
      font-size: 0.8125rem;
    }

    @include mq($s) {
      margin-bottom: $yr * 6;

      .video {
        padding: 0 $xr;
      }

      .desc {
        padding: 0 $xr;
      }
    }

    @include mq($m) {
      display: flex;
      margin-bottom: $yr * 12;

      .desc {
        order: -1;
        width: 2 / 12 * 100%;
      }

      .video {
        width: 8 / 12 * 100%;
      }

    }
  }

  &_prices {
    padding: 0 $xr;
    margin-bottom: $yr * 4.5;

    .text {
      margin-bottom: $yr * 8;

      h2 {
        margin-bottom: $yr * 3;
      }
    }

    .prices {
      &_row {
        display: flex;
        justify-content: space-between;
        margin-bottom: $yr * 2;

        &.QQQ {
          margin-top: $yr * 4;
        }

        .name {
          flex-grow: 1;
          position: relative;
          overflow: hidden;
          padding-right: 1.2em;

          &:after {
            background-image: linear-gradient(to right, #bdbdbd 20%, rgba(255, 255, 255, 0) 0%);
            background-position: bottom;
            background-size: 10px 2px;
            background-repeat: repeat-x;
            content: '';
            height: 2px;
            position: absolute;
            bottom: 0.3rem;
            width: 100%;
            margin-left: 0.3em;

            @include mq($m) {
              bottom: 0.6em;
            }
          }
        }

        .price {
          align-self: flex-end;
          flex-shrink: 0;
          width: 70px;
          text-align: left;
          margin-left: 0.3em;
          white-space: nowrap;
        }
      }

      &_desc {
        color: #727272;
        margin-top: - $yr * 2;

        @include mq($l){
          padding-right: 100px;
        }
      }
    }

    .under {
      font-size: 0.75rem;
      line-height: 1.5rem;
      margin-top: $yr * 4;
      text-align: center;
      width: 100%;

      @include sign;

      .sign {
        margin: 0 auto;
      }
    }

    @include mq($s) {
      margin-bottom: $yr * 6;
      display: flex;
      flex-wrap: wrap;

      .text {
        padding: 0 $xr;
        width: 100%;
      }

      .left {
        padding: 0 $xr;
        width: 4 / 8 * 100%;
      }

      .right {
        padding: 0 $xr;
        width: 4 / 8 * 100%;
      }

      .under {
        padding: 0 $xr;
      }
    }

    @include mq($m) {
      margin-bottom: $yr * 12;

      .text {
        width: 4 / 12 * 100%;
        margin-left: 2 / 12 * 100%;
        margin-right: 6 / 12 * 100%;
      }

      .left {
        width: 4 / 12 * 100%;
        margin-left: 2 / 12 * 100%;
      }

      .right {
        width: 4 / 12 * 100%;
      }
    }
  }

  &_works {
    padding: 0 $xr;
    margin-bottom: $yr * 4.5;

    .triangle {
      max-width: 200px;
      margin: auto;
      margin-top: $yr * 3;
      font-size: 1.5rem;
      line-height: 1.75rem;
      text-align: center;

      .img_ar {
        @include aspect-ratio(180, 156);

        background: {
          image: image_url('instagram_irina_rain.svg');
          size: contain;
          repeat: no-repeat;
        }
        margin-bottom: 1rem;
      }

      .pl {
        display: inline-block;
      }
    }

    .text {
      h2 {
        margin-bottom: $yr * 3;
      }
    }

    .insta {
      margin-bottom: $yr * 3;

      &_item {
        margin-bottom: $yr * 2;

        &:last-child {
          margin-bottom: 0;
        }

        a {
          @include aspect-ratio(5, 4);

          background-size: cover;
          border-bottom: 0;
          display: block;

          &:before {
            transition-duration: 0.3s;
            z-index: 0;
          }

          ul {
            font-size: 1rem;
            line-height: 1.25rem;
            justify-content: center;
            z-index: 3;
            opacity: 0;
            display: flex;

            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            transition-duration: 0.3s;

            li.likes {
              background-image: image_url('likes.png');
              margin-right: 2em;
            }

            li.comments {
              background-image: image_url('comments.png');
            }

            li {
              background-repeat: no-repeat;
              background-size: contain;
              font-weight: bold;
              color: #fff;
              padding-left: 1.5rem;
            }
          }

          &:hover {
            ul {
              opacity: 1;
            }

            &:before {
              display: block;
              background: rgba(0, 0, 0, 0.6);
            }
          }
        }

        &:last-child {
          display: none;
        }
      }

      @include mq($s) {
        margin-bottom: 2.75rem;
        display: flex;

        &_item {
          padding: 0 $xr;
          width: 1 / 3 * 100%;

          a {
            @include aspect-ratio-modify(4, 5);
          }
        }
      }
    }

    @include mq($s) {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: $yr * 6;

      .insta {
        width: 100%;
      }

      .text {
        padding: 0 $xr;
        width: 4 / 8 * 100%;
      }

      .triangle {
        width: 4 / 8 * 100%;
        padding-top: $yr * 5;
      }
    }

    @include mq($m) {
      margin-bottom: $yr * 12;

      .text {
        width: 4 / 12 * 100%;
        margin-left: 2 / 12 * 100%;
      }

      .triangle {
        width: 2 / 12 * 100%;
        margin-left: 1 / 12 * 100%;
        margin-right: 0;
      }
    }
  }

  &_community {
    margin-bottom: $yr * 4.5;
    position: relative;

    .content {

      padding: 0 $xr;

      .text {
        h2 {
          margin-bottom: $yr * 3;
        }
      }

      @include mq($s) {
        position: absolute;
        z-index: 2;
      }
    }

    .img_prg {
      @include aspect-ratio(5, 4);

      background-color: #f1f1f1;

      @include mq($m) {
        @include aspect-ratio(2, 1);
      }
    }


    @include mq($s) {
      margin-bottom: $yr * 6;

      .text {
        padding: 0 $xr;
        width: 6 / 12 * 100%;
      }
    }

    @include mq($m) {
      margin-bottom: $yr * 12;

      .text {
        margin-left: 2 / 12 * 100%;
        width: 4 / 12 * 100%;
      }
    }
  }
}