.top {
  overflow: hidden;
  position: relative;
  color: #fff;
  height: 400px;
  background-image: url('../../images/career/top.jpg');
  background-size: cover;
  background-position: center;
  margin: 0 calc(-1 * var(--xr));

  @media (--s) {
    margin: 0 calc(-1 * calc(var(--xr) * 2));
    height: auto;
  }

  @media (--l) {
    margin: 0 calc(-1 * calc(var(--xr) * 3));
  }

  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: calc(var(--yr) * 36);
    background: linear-gradient(to top, color-mod(#000 alpha(-30%)), color-mod(#000 alpha(-100%)));
    z-index: 0;

    @media (--m) {
      height: calc(var(--yr) * 72);
    }
  }
}

.placeholder {
  display: none;
  position: relative;

  &::before {
    display: block;
    content: '';
    width: 100%;
    padding-top: 50%;
    position: relative;
    z-index: -1;
  }

  @media (--s) {
    display: block;
  }
}

.l,
.r {
  background-position: center bottom;
  background-size: cover;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0%;
}

.ppl {
  position: absolute;
  height: 110%;
  width: 110%;
  left: -5%;
  top: -5%;

  & .l {
    background-image: url('../../images/career/top_l.png');
  }

  & .r {
    background-image: url('../../images/career/top_r.png');
  }
}

.description {
  composes: at from '../Fonts.module.css';

  @media (--l) {
    width: calc(12 / 16 * 100%);
    margin: calc(var(--yr) * 24) calc(2 / 16 * 100%);
  }
}

.value {
  @media (--s) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 var(--xr);
  }

  @media (--l) {
    grid-gap: 0 calc(var(--xr));
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }

  & .title {
    margin-bottom: calc(var(--yr) * 3);

    @media (--s) {
      grid-column: 1 / 3;
    }
  }

  & .txt {
    margin-bottom: calc(var(--yr) * 3);

    @media (--s) {
      margin: 0;
    }

    &:last-child {
      margin: 0;
    }
  }
}

.rain {
  background-image: url('../../images/career/rain.jpg');
  background-color: #f1f1f1;
  background-position: 50%;
  background-size: cover;
  position: relative;

  @media (--l) {
    width: 87.5%;
    margin-left: auto;
    margin-right: auto;
  }

  &::before {
    display: block;
    content: "";
    width: 100%;
    position: relative;
    z-index: -1;
    padding-top: calc(4 / 5 * 100%);

    @media (--s) {
      padding-top: calc(9 / 16 * 100%);
    }
  }
}

.atmo {
  @media (--s) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 var(--xr);
  }

  @media (--l) {
    grid-gap: 0 calc(var(--xr));
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }

  & .title {
    margin-bottom: calc(var(--yr) * 3);
    grid-column: 1 / 3;
  }
}

.dev {
  @media (--s) {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: var(--xr);
  }

  @media (--l) {
    grid-gap: calc(var(--xr) * 2);
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }

  & .develop {
    margin-bottom: calc(var(--yr) * 9);
    background-image: url('../../images/career/dev.jpg');
    background-color: #f1f1f1;
    background-position: 50%;
    background-size: cover;
    position: relative;

    @media (--s) {
      grid-column: 1 / 7;
      margin-bottom: 0;
    }

    &::before {
      display: block;
      content: "";
      width: 100%;
      position: relative;
      z-index: -1;
      padding-top: calc(5 / 4 * 100%);
    }
  }

  & .txt {
    @media (--s) {
      grid-column: 7 / 13;
    }
  }
}

.vacancies {
  @media (--l) {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }

  & .vacancy {
    border-top: 1px solid #212121;
    padding-top: calc(var(--yr) * 5);
  }
}
