.section {
  @media (--l) {
    width: calc(12 / 16 * 100%);
    margin: 0 auto;
  }
}

.top {
  margin-top: calc(var(--yr) * 18);
  padding-top: calc(var(--yr) * var(--s5));

  @media (--l) {
    margin-top: calc(var(--yr) * 32);
  }
}

.title {
  margin-bottom: calc(var(--yr) * var(--s1));
}

.desc {
  composes: at from '../Fonts.module.css';

  @media (--l) {
    margin-bottom: calc(var(--yr) * var(--s4));
  }
}

.text {
  margin-bottom: calc(var(--yr) * var(--s4));

  @media (--l) {
    width: calc(8 / 12 * 100%);
  }
}

.tab {
  composes: at from '../Fonts.module.css';
  padding-bottom: calc(var(--yr) * var(--s1));

  &.active {
    border-bottom: 1px solid #141414;
    width: fit-content;
  }
}

.tabs {
  position: relative;
  display: flex;
  margin-bottom: calc(var(--yr) * var(--s2));

  & .tab {
    &:first-child {
      margin-right: 40px;
    }
  }

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    border-bottom: 1px solid rgba(20, 20, 20, 0.14);
    bottom: 0;
  }

  & h2 {
    text-transform: none;
    letter-spacing: normal;
  }
}

.specialists {
  margin-bottom: calc(var(--yr) * var(--s2));
}

.active1,
.active2 {
  display: flex;
}
