.section {
  @media (--l) {
    width: calc(12 / 16 * 100%);
    margin: 0 auto;
  }
}

.top {
  margin-top: calc(var(--yr) * 18);
  padding-top: calc(var(--yr) * var(--s5));

  @media (--l) {
    margin-top: calc(var(--yr) * 32);
  }
}

.title {
  margin-bottom: calc(var(--yr) * var(--s1));
}

.desc {
  margin-bottom: calc(var(--yr) * var(--s5));

  & h3 {
    text-transform: none;
    letter-spacing: normal;
    font-weight: normal;
  }
}

.text {
  margin-bottom: calc(var(--yr) * var(--s4));

  @media (--l) {
    width: calc(8 / 12 * 100%);
  }
}

.tabs {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: calc(var(--yr) * var(--s2));
  grid-column-gap: calc(var(--yr) * 2.5);

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    border-bottom: 1px solid rgba(20, 20, 20, 0.14);
    bottom: 0;
  }

  & h2 {
    text-transform: none;
    letter-spacing: normal;
  }
}

.tab {
  padding-bottom: calc(var(--yr) * var(--s1));

  &.active {
    border-bottom: 1px solid #141414;
    width: fit-content;
  }
}

.masters {
  height: 36px;
  margin-bottom: calc(var(--yr) * var(--s2));
}
