h1, .h1 {
  font-size: calc(var(--yr) * calc(var(--fs) + 2.5));
  line-height: calc(var(--yr) * calc(var(--lh) + 3));
  text-transform: uppercase;
  letter-spacing: 0.12em;

  @media(--s) {
    font-size: calc(var(--yr) * calc(var(--fs) + 5));
    line-height: calc(var(--yr) * calc(var(--lh) + 5));
  }

  @media(--l) {
    font-size: calc(var(--yr) * calc(var(--fs) + 7.75));
    line-height: calc(var(--yr) * calc(var(--lh) + 7));
  }
}

h2, .h2 {
  font-size: calc(var(--yr) * calc(var(--fs) + 1.5));
  line-height: calc(var(--yr) * calc(var(--lh) + 2));
  text-transform: uppercase;
  letter-spacing: 0.12em;

  @media(--s) {
    font-size: calc(var(--yr) * calc(var(--fs) + 2.5));
    line-height: calc(var(--yr) * calc(var(--lh) + 3));
  }

  @media(--l) {
    font-size: calc(var(--yr) * calc(var(--fs) + 5));
    line-height: calc(var(--yr) * calc(var(--lh) + 5));
  }
}

h3, .h3 {
  font-size: calc(var(--yr) * calc(var(--fs) + 0.5));
  line-height: calc(var(--yr) * calc(var(--lh) + 1));
  text-transform: uppercase;
  letter-spacing: 0.12em;

  @media(--s) {
    font-size: calc(var(--yr) * calc(var(--fs) + 1.5));
    line-height: calc(var(--yr) * calc(var(--lh) + 2));
  }

  @media(--l) {
    font-size: calc(var(--yr) * calc(var(--fs) + 2.5));
    line-height: calc(var(--yr) * calc(var(--lh) + 3));
  }
}

.at {
  font-size: calc(var(--yr) * calc(var(--fs) + 1.5));
  line-height: calc(var(--yr) * calc(var(--lh) + 2));

  @media(--l){
    font-size: calc(var(--yr) * calc(var(--fs) + 2.5));
    line-height: calc(var(--yr) * calc(var(--lh) + 3));
  }
}

.small {
  font-size: calc(var(--yr) * calc(var(--fs) - 0.25));
  line-height: calc(var(--yr) * calc(var(--lh) + 1));
}

h1,
h2,
p {
  font-weight: var(--fw_normal);
  margin: 0 0 calc(var(--yr) * 3);

  @media(--l) {
    margin: 0 0 calc(var(--yr) * 4);
  }

  &:last-child {
    margin: 0;
  }
}

h3 {
  margin: 0 0 calc(var(--yr) * 6);

  @media(--l) {
    margin: 0 0 calc(var(--yr) * 16);
  }
}
