.input {
  margin: 0 0 calc(var(--yr) * 4);

  & input[type=text],
  & input[type=email],
  & input[type=number],
  & input[type=tel],
  & input[type=date],
  & input[type=datetime-local],
  & input[type=url],
  & textarea,
  & select,
  & input[type=password] {
    appearance: none;
    border: 1px solid rgba(20, 20, 20, 0.13);
    border-radius: 0;
    font-family: inherit;
    font-size: calc(var(--yr) * 4);
    line-height: calc(var(--yr) * 6);
    padding: var(--xr);
    width: 100%;
    outline: none;
    min-width: 0;
  }

  & textarea {
    resize: vertical;
    display: block;
  }

  & select {
    background-color: #fff;
  }
}
