.label {
  position: absolute;
  pointer-events: none;
  left: var(--xr);
  top: 50%;
  transform: translateY(-50%);
  transition: 0.3s;
  color: #141414;
}

.input {
  margin: 0 0 calc(var(--yr) * 4);
  position: relative;

  & input[type=text],
  & input[type=email],
  & input[type=number],
  & input[type=tel],
  & input[type=date],
  & input[type=datetime-local],
  & input[type=url],
  & textarea,
  & select,
  & input[type=password] {
    appearance: none;
    border: 1px solid rgba(20, 20, 20, 0.13);
    border-radius: 0;
    font-family: inherit;
    font-size: calc(var(--yr) * 4);
    line-height: calc(var(--yr) * 6);
    padding: var(--xr);
    width: 100%;
    outline: none;
    min-width: 0;

    &:focus ~ .label,
    &:not(:focus):valid ~ .label {
      top: calc(var(--yr) * 2.5);
      transform: translateY(-20%);
      font-size: calc(var(--yr) * 3);
      line-height: calc(var(--yr) * 4);
    }
  }

  & textarea {
    resize: vertical;
    display: block;
  }

  & select {
    background-color: #fff;
  }
}
