.geo_bg {
  background: color-mod(var(--light_color) alpha(-20%));
  opacity: 1;
  visibility: visible;
  position: fixed;
  transition: opacity .3s, visibility .3s;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;

  @media (--s) {
    background: rgba(255, 255, 255, .8);
  }

  & .active {
    opacity: 0;
    visibility: hidden;
  }
}

.geo_sl {
  background: #fff;
  padding: calc(var(--yr) * 12) var(--xr);
  position: absolute;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;

  & .geo_logo {
    height: calc(var(--yr) * 8);
    padding: calc(var(--yr)) 0;

    svg {
      fill: var(--base_color);
      height: calc(var(--yr) * 5);
      width: calc(var(--xr) * 9.375);
    }
  }

  & .geo_q {
    margin-bottom: calc(var(--yr) * 8);
    margin-top: calc(var(--yr) * 4);
  }

  @media (--s) {
    width: calc(var(--xr) * 25);
  }
}

.geo_moscow {
  composes: at from './Fonts.module.css';
  border: 1px solid rgba(0, 0, 0, .13);
  border-radius: calc(var(--yr) / 2);
  padding: calc(var(--yr) * 1.75) 0;
  display: inline-block;
  text-align: center;
  width: calc(var(--xr) * 11.25);
  transition: background .2s, color .2s;
  cursor: pointer;

  &:hover {
    background-color: #212121;
    color: #fff;
  }
}

.geo_nizhny {
  /* cursor: pointer; */
}

.geo_or {
  composes: small from './Fonts.module.css';
  margin: calc(var(--yr) * 4) 0;
}
