.instagram_list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: calc(var(--yr) * 4) calc(var(--xr));

  & .instagram_list_item {
    a {
      img {
        display: block;
        max-width: 100%;
      }
    }
  }

  @media (--m) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 0 calc(var(--xr) * 2);
  }
}
