:root {
  --xr: 1.25rem;
  --yr: 0.25rem;

  --base_color: #212121;
  --light_color: #ffffff;

  --grey_color: #727272;
  --light_grey_color: #c1c1c1;

  --fw_light: 300;
  --fw_normal: 400;
  --fw_bold: 600;

  --fs: 3.5;
  --lh: 5;

  --ff_serif: 'Playfair Display', serif;
}

@custom-media --s (min-width: 720px);
@custom-media --m (min-width: 980px);
@custom-media --l (min-width: 1260px);
