- set_meta_tags title: "RAIN — ногтевая студия. Заботливый маникюр и педикюр #{@city[:title_in]}.", site: nil, description: "Заботливый маникюр и педикюр #{@city[:title_in]}.", canonical: root_url(city: city), og: { title: "RAIN — ногтевая студия" }

= react_component( \
  'Pages/Index',
  { \
    city: @city_key,
    specialists: SpecialistSerializer.new(@specialists).serializable_hash,
    prices: PriceSerializer.new(@prices).serializable_hash,
    instagram: instagram_index_path(format: :json) \
  }, { \
    prerender: false \
  } \
)
