- set_meta_tags title: 'Команда', canonical: team_url(city: city), description: 'Команда пространства RAIN'

= react_component 'Pages/Team', { city: @city_key, specialists: @specialists.map { |specialist| specialist.slice(:name, :service) } }
