.page_about {
  &_top {
    background-image: url('../images/about/top.jpg');
  }

  &_tables {
    figure {
      .img {
        background-image: url('../images/about/tables.jpg');
      }
    }
  }

  &_feel {
    figure {
      .img {
        background-image: url('../images/about/feel.jpg');
      }
    }

    .text {
      margin-bottom: calc(var(--yr) * 9);
    }

    @media (--s) {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-gap: var(--xr);

      .text {
        grid-column: 1 / 7;
        margin-bottom: 0;
      }

      figure {
        grid-column: 7 / 13;
      }
    }

    @media(--m) {
      grid-gap: calc(var(--xr) * 2);
    }
  }

  &_quote {
    .text {
      p {
        &:first-child {
          font-size: calc(var(--yr) * 5);
          line-height: calc(var(--yr) * 7);

          font-family: var(--ff_serif);
        }

        &.author {
          color: var(--grey_color);
        }
      }

      @media (--s) {
        padding-right: calc(3 / 12 * 100%);
      }

      @media (--m) {
        padding-right: calc(4 / 12 * 100%);
      }
    }
  }

  &_two_images {
    figure {
      &:first-child {
        margin-bottom: calc(var(--yr) * 3);

        .img {
          background-image: url('../images/about/two_images_1.jpg');
        }
      }

      &:last-child {
        margin-bottom: calc(var(--yr) * 3);

        .img {
          background-image: url('../images/about/two_images_2.jpg');
        }
      }
    }

    @media (--s) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: var(--xr);

      figure {
        margin-bottom: 0;
      }
    }

    @media (--m) {
      grid-gap: calc(var(--xr) * 2);
    }
  }

  &_space {
    .contacts {
      font-size: calc(var(--yr) * 3.25);
      line-height: calc(var(--yr) * 6);
    }

    .text {
      margin-bottom: calc(var(--yr) * 3);
    }

    @media (--s) {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-gap: var(--xr);

      .text {
        grid-column: 1 / 10;
        margin-bottom: 0;
      }

      .contacts {
        grid-column: 10 / 13;
      }
    }

    @media(--m) {
      grid-gap: calc(var(--xr) * 2);
    }
  }

  &_roads {
    figure {

      &:first-child {
        margin-bottom: calc(var(--yr) * 6);

        .img {
          background-image: url('../images/about/roads.jpg');
        }
      }

      .img {
        margin-bottom: calc(var(--yr) * 3);
      }
    }

    @media (--s) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: var(--xr);

      figure {
        margin-bottom: 0;
      }
    }

    @media (--m) {
      grid-gap: calc(var(--xr) * 2);
    }
  }
}
