.page {
  @media (--s) {
    padding: 0 calc(var(--xr));
  }

  @media (--l) {
    padding: 0 calc(var(--xr) * 3);
  }

  &_section {
    margin: calc(var(--yr) * 9) var(--xr);

    @media (--s) {
      margin: calc(var(--yr) * 12) calc(var(--xr)  / 2);
    }

    @media (--m) {
      margin: calc(var(--yr) * 24) auto;
      width: calc(12 / 16 * 100%);
    }

    &_intro {
      font-size: calc(var(--yr) * 5);
      line-height: calc(var(--yr) * 7);

      @media (--m) {
        font-size: calc(var(--yr) * 6);
        line-height: calc(var(--yr) * 9);
      }
    }

    &_14 {
      @media (--m) {
        margin-left: auto;
        margin-right: auto;
        width: calc(14 / 16 * 100%);
      }
    }

    &_16 {
      @media (--m) {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
      }
    }

    &_top {
      background-color: var(--base_color);
      background-size: cover;
      background-position: center;
      color: var(--light_color);
      height: calc(var(--yr) * 100);
      margin: 0;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: calc(var(--yr) * 36);
        background: linear-gradient(to top, color(#000 alpha(-30%)), color(#000 alpha(-100%)));
        z-index: 0;

        @media (--m) {
          height: calc(var(--yr) * 72);
        }
      }

      .placeholder {
        display: none;
        position: relative;

        &::before {
          display: block;
          content: '';
          width: 100%;
          padding-top: calc(1 / 2 * 100%);
          position: relative;
          z-index: -1;
        }
      }

      .text {
        font-size: calc(var(--yr) * 5);
        line-height: calc(var(--yr) * 7);
        position: absolute;
        left: calc(var(--xr));
        bottom: calc(var(--yr) * 9);
        z-index: 2;

        @media (--m) {
          font-size: calc(var(--yr) * 6);
          line-height: calc(var(--yr) * 9);
        }
      }

      @media (--s) {
        margin: 0 calc(-1 * var(--xr));
        height: auto;

        .text {
          left: calc(var(--xr) * 2);
          bottom: calc(var(--yr) * 12);
        }

        .placeholder {
          display: block;
        }
      }

      @media (--m) {
        width: auto;

        .text {
          left: 0;
          bottom: calc(var(--yr) * 24);
          margin-left: calc(2 / 16 * 100%);
        }
      }

      @media (--l) {
        margin: 0 calc(-3 * var(--xr));
        width: auto;

        .text {
          left: calc(var(--xr) * 2);
          margin-left: calc(2 / 16 * 100%);
        }
      }

      &.short {
        height: calc(var(--yr) * 32);

        .placeholder {
          display: none;
        }
      }
    }
  }
}
