@import 'normalize.css/normalize';
@import '@glidejs/glide/dist/css/glide.core';
@import './admin.css';

@font-face {
  font-family: 'Futura New';
  src: url('./fonts/cg/subset-FuturaNewBook-Reg.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Futura New', sans-serif;
  font-size: calc(var(--yr) * calc(var(--fs) + 0.5));
  line-height: calc(var(--yr) * calc(var(--lh) + 1));

  @media (--m) {
    line-height: calc(var(--yr) * calc(var(--lh) + 3));
  }
}

a {
  cursor: pointer;
  text-decoration: none;
  color: var(--base_color);
  border-bottom: 1px solid color-mod(var(--base_color) alpha(-80%));
}

ul {
  margin: 0 0 calc(var(--yr) * 3);
  padding: 0;
  list-style: none;

  li {
    padding-left: 1.4rem;
    margin: 0 0 calc(var(--yr) * 1.5);

    &::before {
      content: '—';
      display: block;
      float: left;
      color: #bdbdbd;
      margin-left: -1.4rem;
      width: 1.4rem;
    }
  }

  @media (--m) {
    margin: 0 0 calc(var(--yr) * 4);
  }

  &:last-child {
    margin: 0;
  }
}
