.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 5;
  user-select: none;

  &_container {
    height: calc(var(--yr) * 18);
    padding: calc(var(--yr) * 3) var(--xr);
    position: relative;
  }

  &_burger {
    cursor: pointer;
    padding: calc(var(--yr) * 2) calc(var(--xr));
    position: absolute;
    left: 0;
    top: calc(var(--yr) * 3);
    z-index: 5;

    svg {
      display: block;
      width: calc(var(--yr) * 6);
      fill: #fff;
    }

    @media (--s) {
      left: calc(var(--xr));
    }
  }

  &_menu {
    visibility: hidden;
    font-size: calc(var(--yr) * 3.25);
    line-height: calc(var(--yr) * 10);
    text-transform: uppercase;
    letter-spacing: 0.12em;
    margin-top: calc(var(--yr) * 36);
    text-align: center;

    &_item {
      &.in {
        opacity: 0.25;
      }

      a {
        border-bottom: 0;
      }
    }
  }

  &_logo {
    position: absolute;
    width: 120px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;

    a {
      border-bottom: 0;
      display: block;

      svg {
        display: block;
        fill: #fff;
      }
    }

    .city {
      line-height: calc(var(--yr) * 5);
      font-size: calc(var(--yr) * 2.75);
      text-transform: uppercase;
      letter-spacing: 0.2em;
      position: absolute;
      top: calc(100% + var(--yr) * 2);
      color: var(--light_color);

      .current {
        cursor: pointer;

        svg {
          fill: var(--light_color);
          height: 7px;
          margin-left: calc(var(--yr));
          width: 7px;
        }
      }

      .switch {
        visibility: hidden;

        a {
          color: var(--light_color);
        }

        &.active {
          visibility: visible;
        }
      }
    }

    @media (--s) {
      width: 150px;
    }
  }

  &_book {
    height: calc(var(--yr) * 12);
    position: absolute;
    right: var(--xr);
    top: 50%;
    padding: calc(var(--yr)) 0;
    z-index: 5;
    transform: translate(0, -50%);

    a.book {
      cursor: pointer;
      display: block;
      border-bottom: 0;
      height: 100%;
      box-shadow: 0 0 0 1px color(var(--light_color) alpha(-70%));
      border-radius: 2px;
      width: 100%;

      .icon {
        width: calc(var(--yr) * 10);

        svg {
          display: block;
          fill: var(--light_color);
          transition: fill 0.3s;
        }
      }

      .text {
        border-bottom: 0;
        color: #fff;
        display: none;
        font-size: 0.8125rem;
        letter-spacing: 0.12em;
        line-height: calc(var(--yr) * 10);
        padding: 0 var(--xr);
        text-transform: uppercase;
        transition: color 0.3s;
      }

      transition: background 0.3s, box-shadow 0.3s, color 0.3s;

      &:hover {
        background-color: #fff;
        box-shadow: 0 0 0 1px var(--light_color);
        color: #000;

        svg {
          fill: var(--base_color);
        }

        .text {
          color: #000;
        }
      }

      @media (--s) {
        .icon {
          display: none;
        }

        .text {
          display: block;
        }
      }
    }

    @media (--s) {
      right: calc(var(--xr) * 1.5);
    }

    @media (--m) {
      right: calc(var(--xr));
    }

    @media (--l) {
      right: calc(var(--xr) * 3);
    }
  }

  @media (--l) {
    position: absolute;

    &_container {
      padding: calc(var(--yr) * 10) var(--xr);
      height: calc(var(--yr) * 32);
    }

    &_burger {
      display: none;
    }

    &_book {
      a.book {
        width: calc(var(--xr) * 7.5);
      }
    }

    &_logo {
      left: calc(var(--xr) * 3);
      transform: translate(0, -50%);
    }

    &_menu {
      visibility: visible;
      margin-top: var(--yr);
      margin-right: calc(var(--xr) * 9.5);
      display: flex;
      justify-content: flex-end;

      &_item {
        margin-right: var(--xr);
        color: var(--light_color);

        a {
          color: var(--light_color);
        }
      }
    }
  }

  &.menu_opened {
    bottom: 0;
    position: fixed;
    background-color: var(--light_color);

    .header {
      &_container {
        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: var(--xr);
          right: var(--xr);
          border-bottom: 1px solid #e2e2e2;
        }
      }

      &_menu {
        opacity: 1;
        visibility: visible;
      }

      &_logo {
        /* stylelint-disable-next-line */
        svg {
          fill: var(--base_color);
        }

        .city {
          visibility: hidden;
          color: var(--base_color);

          .switch {
            a {
              color: var(--base_color);
            }
          }
        }
      }

      &_burger {
        /* stylelint-disable-next-line */
        svg {
          fill: var(--base_color);
        }
      }

      &_book {
        a.book {
          box-shadow: 0 0 0 1px color(var(--base_color) alpha(-70%));

          .text {
            color: var(--base_color);
          }

          .icon {
            svg {
              fill: var(--base_color);
            }
          }
        }
      }
    }

    /* .book {
      border: 1px solid rgba(#000, 0.3);

      .icon {
        svg {
          fill: #000;
        }
      }

      @include mq(0 ($s - 1)) {
        .icon {
          display: none;
        }
        .text {
          color: #212121;
          display: block;
        }
      }
    } */
  }
}
