@import 'breakpoint-sass/stylesheets/breakpoint';
@import 'reset-css/_reset';
@import 'swiper/dist/css/swiper.min';


@font-face {
  font-family: 'Century Gothic';
  src: font_url('cg/subset-CenturyGothic.eot');
  src: font_url('cg/subset-CenturyGothic.eot?#iefix') format('embedded-opentype'),
  font_url('cg/subset-CenturyGothic.woff') format('woff'),
  font_url('cg/subset-CenturyGothic.ttf') format('truetype'),
  font_url('cg/subset-CenturyGothic.svg#CenturyGothic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=PT+Sans|Playfair+Display&subset=cyrillic');

@mixin aspect-ratio($width, $height) {
  position: relative;

  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
    position: relative;
    z-index: -1;
  }
  > img, > svg, > video, > iframe, > div {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

@mixin lnbg($c1, $c2, $c3, $c4) {
  background: linear-gradient(45deg, $c1 0%, rgba($c1, 0) 100%), linear-gradient(135deg, $c2 0%, rgba($c2, 0) 100%), linear-gradient(225deg, $c3 0%, rgba($c3, 0) 100%), linear-gradient(315deg, $c4 0%, rgba($c4, 0) 100%);
}

@mixin aspect-ratio-modify($width, $height) {
  &:before {
    padding-top: ($height / $width) * 100%;
  }
}

@mixin visible {
  opacity: 1;
  visibility: visible;
}

@mixin hidden {
  opacity: 0;
  visibility: hidden;
}


* {
  box-sizing: border-box;
}

$gutter: 1.25rem;

$base-line-height: 8;
$base-rhythm-line: .25rem;
$base-rhythm: $base-line-height * $base-rhythm-line;

$xr: 1.25rem;
$yr: 0.5rem;

$s: 760px;
$m: 960px;
$l: 1280px;

body {
  color: #212121;
  font-family: 'Century Gothic', serif;
  font-size: 1rem;
  line-height: 1.5rem;

  &.full_screen {
    overflow: hidden;
  }

  @include mq($m) {
    line-height: 2rem;
  }
}

h2, .h2 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  text-transform: uppercase;
  letter-spacing: 0.12em;

  @include mq($s) {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  @include mq($l) {
    font-size: 2.125rem;
    line-height: 3rem;
  }
}

h3, .h3 {
  text-transform: uppercase;
  letter-spacing: 0.12em;
}

.img_prg {
  background: {
    size: cover;
    repeat: no-repeat;
  }
}

a, a .pl {
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid rgba(#000, 0.2);
  transition-duration: 0.38s;
  transition-property: border-bottom-color;

  &:hover {
    border-bottom-color: #000;

    .pl {
      border-bottom-color: #000;
    }
  }
}

@import 'header';

@import 'footer';

@import 'forms';

@import 'page';

@import 'prices';

@import 'specialists';