.footer {
  font-size: 0.8125rem;
  line-height: 1.5rem;
  padding: 0 $xr;

  .footer-data {

    .lft {
      margin-bottom: 2rem;

      .address {
        margin-top: 0.75rem;
      }

      @include mq($s) {
        padding: 0 $xr;
        width: 6 / 12 * 100%;
      }
    }

    .rght {
      margin-bottom: 2rem;

      .l_ike {
        margin-top: 2.25rem;
      }    

      @include mq($s) {
        padding: 0 $xr;
        width: 4 / 8 * 100%;
      }
    }

    @include mq($s) {
      display: flex;
      flex-wrap: wrap;

      .rght {

        ul {
          display: flex;
          flex-wrap: wrap;

          li {
            width: 6 / 12 * 100%;
          }
        }
      } 
    }
    @include mq($m) {
      .lft {
        margin-left: 2 / 12 * 100%;
        width: 4 / 12 * 100%;
      }
      .rght {

        ul {

          li {
            width: 2 / 10 * 100%;
          }
        }
      }
    }
  }
}