.form {
  .error_notification {
    color: red;
    font-weight: bold;
  }

  &_desc {
    margin-bottom: $yr * 2;
  }

  &_inputs {
    .input {
      margin-bottom: $yr * 2;

      label {
        // @include font-size-small;
        font-size: 0.75rem;
        line-height: 1.5rem;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        display: block;
        margin-bottom: $yr / 2;
      }

      .error {
        color: red;
        font-weight: bold;
      }

      input[type=text],
      input[type=email],
      input[type=tel],
      input[type=password],
      input[type=number],
      textarea, select {
        border: 1px solid rgba(0, 0, 0, 0.13);
        border-radius: 0;
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
        line-height: inherit;
        padding: 0  $xr / 2;
        width: 100%;

        &:focus {
          // border-color: $highlight-color;
        }
      }
    }
  }
  .btn {
    // @include font-size(1.5, 4);
    font-family: inherit;
    font-weight: inherit;
    appearance: none;
    background: #fff;
    border: 1px solid #9caa73;
    cursor: pointer;
    display: inline-block;
    line-height: 1.875rem;
    padding: 0 $xr;
    user-select: none;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    min-width: 8rem;
    transition: background 0.3s, color 0.3s;
  }
}
