.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 5;
  user-select: none;

  &_container {
    height: $yr * 12;
    padding: $yr * 3 $xr;
    position: relative;
  }

  &_logo {
    position: absolute;
    width: 120px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;

    a {
      border-bottom: 0;
      display: block;

      svg {
        display: block;
        fill: #fff;
      }
    }

    .city {
      font-size: 0.75rem;
      line-height: 2.25rem;
      color: #fff;
      cursor: pointer;
      height: 9 * $base-rhythm-line;
      margin-top: 1rem;
      transform: translate(0, -50%);
      position: absolute;

      a {
        color: #fff;
        border: none;
      }

      .crnt_city {
        @include visible;
        transition: opacity .3s, visibility .3s, transform .3s;

        svg {
          fill: #fff;
          height: 5px;
          margin-left: 0.5 * $gutter;
          width: 6px;
        }
      }

      .swtch_city {

        @include hidden;
        top: 9 * $base-rhythm-line;
        transition: opacity .3s, visibility .3s, transform .3s;

        @media screen and (min-width: 0) and (max-width: 767px)  {
          text-align: center;
          width: 100%;
        }
      }

      &.change {
        .swtch_city {
          @include visible;
        }
      }

      &.changed {

        .crnt_city {
          @include hidden;
          transform: translate(100px, 0px);
        }

        .swtch_city {
          transform: translate(0, -9 * $base-rhythm-line);
        }
      }

      @media screen and (min-width: 0) and (max-width: 767px)  {
        width: 100%;

        .crnt_city {
          text-align: center;
          width: 100%;
        }
      }
    }

    @include mq($s) {
      width: 150px;
    }
  }

  &_burger {
    padding: $yr * 1.5 $xr;
    position: absolute;
    left: 0;
    top: $yr * 3;
    z-index: 5;

    svg {
      display: block;
      width: $yr * 3;
      fill: #fff;
    }
  }

  &_book {
    height: $yr * 6;
    position: absolute;
    right: $xr;
    top: $yr * 3;
    padding: $yr / 2 0;
    z-index: 5;


    .book {
      cursor: pointer;
      height: 100%;
      border: 1px solid rgba(#fff, 0.3);
      border-radius: 2px;
      width: 100%;

      .icon {
        width: $yr * 4.75;

        svg {
          fill: #fff;
        }
      }

      .text {
        border-bottom: 0;
        color: #fff;
        display: none;
        font-size: 0.8125rem;
        letter-spacing: 0.2em;
        line-height: $yr * 4.75;
        padding: 0 $xr;
        text-transform: uppercase;
        transition: color .3s;
      }

      &.sign {
        transition: background .3s, color .3s;

        &:hover {
          background-color: #fff;
          color: #000;

          .text  {
            color: #000;
          }
        }
      }

      @include mq($s) {
        .icon {
          display: none;
        }

        .text {
          display: block;
        }
      }
    }
  }

  &_menu {
    display: none;

    @include mq(0 ($s - 1)) {
      background: #fff;
      bottom: 0;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      left: 0;
      opacity: 0;
      position: fixed;
      right: 0;
      top: 0;
      transition: .3s;
      visibility: hidden;
      width: 100%;

      &_item {
        padding: 0 $xr;
        text-align: center;
        line-height: 5 * $yr;

        a {
          border-bottom: none;
          font-size: 0.8125rem;
          text-transform: uppercase;
        }
      }
    }
  }

  @include mq(0 ($s - 1)) {
    &_container {

      &:after {
        border-bottom: 1px solid transparent;
        bottom: 0;
        content: '';
        position: absolute;
        transition: border-color .3s;
        width: calc(100% - $yr);
      }

      svg {
        transition: fill .3s;
      }
    }

    &_book {
      .book {
        transition: border-color .3s;
      }
    }

    &.menu_opened{
      bottom: 0;
      position: fixed;

      .header {

        &_container {
          position: static;

          &:after {
            border-color: #e2e2e2;
          }
        }

        &_menu {
          opacity: 1;
          visibility: visible;
        }

        &_logo {
          top: 6 * $yr;
        }

        &_book {
          bottom: 3 * $yr;
          left: 50%;
          top: auto;
          transform: translate(-50%, 0);
          width: 150px;
        }
      }
      svg {
        fill: #000;
      }

      .book {
        border: 1px solid rgba(#000, 0.3);

        .icon {
          svg {
            fill: #000;
          }
        }

        @include mq(0 ($s - 1)) {
          .icon {
            display: none;
          }
          .text {
            color: #212121;
            display: block;
          }
        }
      }
    }
  }

  @include mq($m) {
    &_burger {
      left: $xr;
    }

    &_book {
      right: $xr * 2;
    }
  }

  @include mq($l) {
    top: $yr;

    &_burger {
      display: none;
    }

    &_menu {
      font-size: 0.8125rem;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      line-height: $yr * 4.75;
      display: flex;
      padding: $yr / 2 0;
      position: absolute;
      top: $yr * 3;
      right: $xr * 3 + 10rem;

      &_item {
        margin-right: $xr;

        &:last-child {
          margin-right: 0;
        }

        a {
          border-bottom: 0;
          color: #fff;
          display: block;
          text-decoration: none;
        }
      }
    }

    &_logo {
      left: $xr * 3;
      transform: translate(0, -50%);
    }
  }
}