.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 5;
  user-select: none;

  &_container {
    height: $yr * 12;
    padding: $yr * 3 $xr;
    position: relative;
  }

  &_logo {
    position: absolute;
    width: 120px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    a {
      display: block;

      svg {
        display: block;
        fill: #fff;
      }
    }

    @include mq($s) {
      width: 150px;
    }
  }

  &_burger {
    padding: $yr * 1.5 $xr;
    position: absolute;
    left: 0;
    top: $yr * 3;

    svg {
      display: block;
      width: $yr * 3;
      fill: #fff;
    }
  }

  &_book {
    height: $yr * 6;
    position: absolute;
    right: $xr;
    top: $yr * 3;
    padding: $yr / 2 0;


    .book {
      cursor: pointer;
      height: 100%;
      border: 1px solid rgba(#fff, 0.3);
      border-radius: 2px;
      width: 100%;

      .icon {
        width: $yr * 4.75;

        svg {
          fill: #fff;
        }
      }

      .text {
        color: #fff;
        display: none;
        font-size: 0.8125rem;
        letter-spacing: 0.2em;
        line-height: $yr * 4.75;
        padding: 0 $xr;
        text-transform: uppercase;
      }

      @include mq($s) {
        .icon {
          display: none;
        }

        .text {
          display: block;
        }
      }
    }

  }

  &_menu {
    display: none;
  }

  @include mq($m) {
    &_burger {
      left: $xr;
    }

    &_book {
      right: $xr * 2;
    }
  }

  @include mq($l) {
    top: $yr;

    &_burger {
      display: none;
    }

    &_menu {
      font-size: 0.8125rem;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      line-height: $yr * 4.75;
      display: flex;
      padding: $yr / 2 0;
      position: absolute;
      top: $yr * 3;
      right: $xr * 3 + 10rem;

      &_item {
        margin-right: $xr;

        &:last-child {
          margin-right: 0;
        }

        a {
          color: #fff;
          display: block;
          text-decoration: none;
        }
      }
    }

    &_logo {
      left: $xr * 3;
      transform: translate(0, -50%);
    }
  }
}