// Place all the styles related to the Prices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.form {
  .error_notification {
    color: red;
    font-weight: bold;
  }

  &_desc {
    margin-bottom: $yr * 2;
  }

   &_inputs {
    .input {
      margin-bottom: $yr * 2;

      label {
        // @include font-size-small;
        font-size: 0.75rem;
        line-height: 1.5rem;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        display: block;
        margin-bottom: $yr / 2;
      }

      .error {
        color: red;
        font-weight: bold;
      }

      input[type=text],
      input[type=email],
      input[type=tel],
      input[type=password],
      input[type=number],
      textarea, select {
        border: 1px solid rgba(0, 0, 0, 0.13);
        border-radius: 0;
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
        line-height: inherit;
        padding: 0  $xr / 2;
        width: 100%;

        &:focus {
          // border-color: $highlight-color;
        }
      }
    }
  }
}

#prices {
  margin-top: $yr * 15;
  padding: 0 $xr;

  .prices_control {

    &_item {
      border-bottom: 1px solid rgba(#000, 0.13);
      padding: 2 * $yr 0;

      .price_city {
        font-size: 0.8125rem;
      }

      @include mq($s) {
        // display: flex;
        // justify-content: space-between;
      }
    }

    .control_link {
      border: 1px solid rgba(0, 0, 0, 0.13);
      display: inline-block;
      border-radius: 2px;
      font-size: 0.8125rem;
      letter-spacing: 0.12em;
      margin-top: $yr;
      padding: 0 5px;
      text-transform: uppercase;
      text-align: center;
    }
  }

  @include mq($s) {
    margin-left: 2/12 * 100%;
    width: 8/12 * 100%;    
  }
}