// Place all the styles related to the Specialists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#specialists {
  margin-top: $yr * 15;
  padding: 0 $xr;

  .specialists_control {

    &_item {
      border-bottom: 1px solid rgba(#000, 0.13);
      padding: 2 * $yr 0;

      @include mq($s) {
        // display: flex;
        // justify-content: space-between;
      }
    }

    .control_link {
      border: 1px solid rgba(0, 0, 0, 0.13);
      display: inline-block;
      border-radius: 2px;
      font-size: 0.8125rem;
      letter-spacing: 0.12em;
      margin-top: $yr;
      padding: 0 5px;
      text-transform: uppercase;
      text-align: center;
    }
  }

  @include mq($s) {
    margin-left: 2/12 * 100%;
    width: 8/12 * 100%;    
  }
  .control {
    .destroy {
      background: #000;
      display: block; 
      width: 20px;
      height: 20px;
    }
  }
}