.slides {
  display: flex;

  @media (--l) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: calc(var(--xr) * 2.5);
    margin-bottom: calc(var(--yr) * var(--s5));
  }
}

.slide {
  margin-bottom: calc(var(--yr) * var(--s1));

  @media (--l) {
    margin-bottom: 0;
  }
}

.cover1 {
  background: url('../../../images/index/ss1.jpg') no-repeat center;
}

.cover2 {
  background: url('../../../images/index/phil.jpg') no-repeat center;
}

.cover3 {
  background: url('../../../images/index/ss3.jpg') no-repeat center;
}

.card {
  position: relative;
  background-color: #777;
  background-size: cover;

  &::before {
    content: '';
    display: block;
    padding-top: calc(4 / 5 * 100%);
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  }
}

.group {
  z-index: 1;
  color: #fff;
  padding: calc(var(--yr) * var(--s2)) 0;
  position: absolute;
  left: calc(var(--xr));
  right: calc(var(--xr));
  top: 0;

  @media (--s) {
    left: calc(var(--xr) * 2);
    right: calc(var(--xr) * 2);
  }
}

.title {
  & h3 {
    margin: 0;
  }
}

.price {
  & h1 {
    font-weight: 800;
  }
}

.pay {
  cursor: pointer;
  padding: calc(var(--yr) * 4.5);
  box-shadow: inset 0 0 0 1px rgba(20, 20, 20, 0.13);
  text-align: center;

  & h3 {
    margin: 0;
  }
}

.buttons {
  display: flex;
  position: relative;

  @media (--l) {
    display: none;
  }
}

.button {
  cursor: pointer;

  &:not(:last-child) {
    margin-right: calc(var(--yr) * 11.25);
  }

  &.active {
    display: none;
  }
}
